@use '../variables' as *;

.end-test-btn {
  background-color: $danger;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: all $transition-speed;
  font-size: 0.85rem;
  text-transform: uppercase;
  
  position: relative;
  z-index: 5;

  &:hover {
    background-color: #dc2626;
    box-shadow: $shadow-sm;
  }

  &:active {
    transform: scale(0.95);
  }
}