// src/styles/ui/_index.scss

@forward '_timer';
@forward '_options';
@forward '_controls';
@forward '_start-screen';
@forward '_counter';
@forward '_end-button';
@forward 'results';
@forward '_navigation';

// Add any future UI modules here