// src/styles/ui/_index.scss

@forward '_timer';
@forward 'results';
@forward '_options';
@forward 'submission';
@forward 'nextNavigation';
@forward '_start-screen';
@forward '_counter';

// Add any future UI modules here