.submission-bar {
    // margin-top: 2rem;
    // padding-top: 1rem;
    // //border-top: 1px solid #e2e8f0;
    display: flex;
    justify-content: center;

    .lock-btn {
        background-color: #3b82f6;
        color: white;
        padding: 0.8rem 2rem;
        border-radius: 50px; // Pill shape
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:disabled {
            background-color: #f1f5f9;
            color: #000000;
            cursor: not-allowed;
        }

        &.locked {
            background-color: #ffffff;
            // box-shadow: 0 0 10px rgba(5, 150, 105, 0.3);
        }
    }
}